<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="UTF-8" />
	<title>落马贪官的标配</title>
	<link rel="stylesheet" href="../../css/xiao/index.css">
	<link rel="stylesheet" href="../../css/xiao/font.css">
	<link rel="stylesheet" href="../../css/xiao/circle.css">
	<link rel="stylesheet" href="../../css/xiao/animation.css">
	<link rel="stylesheet" href="../../css/xiao/jquery.fullPage.css">
	<script type="text/javascript" src="../../js/xiao/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../../js/xiao/jquery.fullPage.js"></script>
	<script type="text/javascript" src="../../js/xiao/index.js"></script>
</head>
<body>
	<div id="fullpage">
		<div class="section section-1" name="section-1">
			<div class="container">
				<div class="pic">
					<div class="img">
						<img src="../../img/xiao/page1_pic.png">
					</div>
					<!-- <div class="circle circle-1">
					    <div class="cutLeft cut"><div class="pie_left pie"></div></div>
					    <div class="cutRight cut"><div class="pie_right pie"></div></div>
					    <div class="mask"><span>50</span>%</div>
					</div>
					<div class="circle circle-2">
					    <div class="cutLeft cut"><div class="pie_left pie"></div></div>
					    <div class="cutRight cut"><div class="pie_right pie"></div></div>
					    <div class="mask"><span>95</span>%</div>
					</div>
					<div class="circle circle-3">
					    <div class="cutLeft cut"><div class="pie_left pie"></div></div>
					    <div class="cutRight cut"><div class="pie_right pie"></div></div>
					    <div class="mask"><span>80</span>%</div>
					</div> -->
					<div class="circle-percent circle-1" percent="49"></div>
					<div class="circle-percent circle-2" percent="94"></div>
					<div class="circle-percent circle-3" percent="79"></div>
					<div class="description d1"><p class="percentage">95%</p><p class="content">有“情妇”</p></div>
					<div class="description d2"><p class="percentage">50%</p><p class="content">涉及房地产</p></div>
					<div class="description d3"><p class="percentage">80%</p><p class="content">涉及受贿</p></div>
				</div>
				<p class="title">落马贪官的“标配”</p>
			</div>
			<div class="footer"></div>
		</div>
		<div class="section section-2" name="section-2">
			<div class="container">
				<div class="up">
					<p class="title">情妇</p>
					<p class="descp">60%的腐败<br>与“包二奶”有关</p>	
				</div>
				<div class="content">
					<div class="content-title content-title-1">
						<p>年龄：16岁-XX岁不等</p>
						<p>情妇大多26岁退役，超期服役麻烦多</p>
					</div>
					<div class="content-title content-title-2">
						<p>选择范围：</p>
						<p>女下属、女企业家、女艺人</p>
					</div>
					<div class="content-title content-title-3">
						<p>数量：1~146</p>
					</div>
				</div>
				<div class="relationship">
					<p>贪官与情妇的关系：<span>危险系数由低到高</span></p>
					<div class="progressbar clearfix">
						<span>-</span>
						<span class="bar-1"></span>
						<span class="bar-2"></span>
						<span class="bar-3"></span>
						<span class="bar-4"></span>
						<span>+</span>
					</div>
					<div class="bar-description-container">
						<div class="bar-desc bar-desc-1">
							<div class="trangle"></div>
							<div class="rect"><p>享乐型</p></div>
							<p>单纯满足欲望</p>
						</div>
						<div class="bar-desc bar-desc-2">
							<div class="trangle"></div>
							<div class="rect"><p>互利型</p></div>
							<p>金钱利益关系</p>
						</div>
						<div class="bar-desc bar-desc-3">
							<div class="trangle"></div>
							<div class="rect"><p>共用型</p></div>
							<p>利益集团</p>
						</div> 
						<div class="bar-desc bar-desc-4">
							<div class="trangle"></div>
							<div class="rect"><p>情感型</p></div>
							<p>日久生情</p>
						</div>
					</div>
					<div class="ps">
						<p>PS:做情妇风险不大，损失的主要是名誉</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section section-3" name="section-3">
			section 3
		</div>
		<div class="section section-5 clearfix" name="section-5">
			<div class="container">
				<div class="up">
					<p class="title">房产</p>
					<p class="descp">2000年以来<br>50%落马省部级高官涉及房地产</p>
				</div>
				<div class="middle">
					<p class="descp">
						“房字辈”<br>全家福
					</p>
				</div>
				<div class="bottom bottom-1 hide">
					<ul>
						<li>
							<p>“房叔”</p>
							<p>蔡彬</p>
						</li>
						<li>
							<p>“房妹”</p>
							<p>翟家慧</p>
						</li>
						<li>
							<p>“房爷”</p>
							<p>赵海滨</p>
						</li>
						<li>
							<p>“房姐”</p>
							<p>龚爱爱</p>
						</li>
					</ul>
				</div>
				<div class="bottom bottom-2">
					<div class="bottom-content-1 clearfix">
						<span></span>
						<p class="subtitle">最豪华</p>
						<p class="subdescp">谷俊山将军府，仿故宫建造</p>
					</div>
					<div class="bottom-content-2 clearfix">
						<span></span>
						<p class="subtitle">贪官热衷海外购房</p>
						<p class="subdescp">一些西方国家甚至已经形成中国贪官一条街</p>
					</div>
					<p class="subdescp">薄熙来&nbsp;&nbsp;&nbsp;法国别墅&nbsp;&nbsp;（1624万人民币）</p>
					<p class="subdescp">张曙光&nbsp;&nbsp;美国别墅&nbsp;&nbsp;（712万人民币）</p>
				</div>
			</div>
		</div>		
		<div class="section section-6 clearfix" name="section-6">
			<div class="container">
				<div class="up">
					<div class="circle">
						<p class="title">朋友圈</p>
					</div>
					<div class="pan pan-1"></div>
					<div class="pan pan-2"></div>
					<div class="pan pan-3"></div>
					<div class="pan pan-4"></div>
					<div class="pan pan-5"></div>
					<p class="descp descp-1"><span>追随者<br></span>地产开发商、企业家、富商</p>
					<p class="descp descp-2"><span>大师<br></span>王林、<br>曹永正、<br>李一</p>
					<p class="descp descp-3"><span>同道者<br></span>茂名窝案：<br>百位官员涉案</p>
					<p class="descp descp-4"><span>掮客<br></span>权利掮客：秘书<br>贪腐掮客：老婆</p>
					<p class="descp descp-5"><span>靠山<br></span>上头有人 背景够硬 顺利升迁 化险为夷</p>
				</div>
				<div class="below">
					<ul>
						<li>
							<p class="subtitle">豪车</p>
							<img src="../../img/xiao/sec6-below-1.jpg" alt="">
							<p class="descp">首选“国产”奥迪<br>奔驰宝马太过招摇高调，<br>奥迪奢华低调不张扬</p>
						</li>
						<li>
							<p class="subtitle">酒量</p>
							<img src="../../img/xiao/sec6-below-2.jpg" alt="">
							<p class="descp">每年的公务用酒量是<br>每年喝干一千个“西湖”。</p>
						</li>
						<li>
							<p class="subtitle">赌博</p>
							<img src="../../img/xiao/sec6-below-3.jpg" alt="">
							<p class="descp">20% 官员因赌博犯罪。<br>去澳门赌场的官员，<br>人均输掉1677万元。</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section section-7" name="section-7">
			<div class="container">
				<p class="title">分享给朋友</p>
				<div>
					<ul>
						<li class="share-1">
							<div class="round"></div>
						</li>
						<li class="share-2">
							<div class="round"></div>
						</li>
						<li class="share-3">
							<div class="round"></div>
						</li>
						<li class="share-4">
							<div class="round"></div>
						</li>
						<li class="share-5">
							<div class="round"></div>
						</li>
						<li class="share-6">
							<div class="round"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>