@font-face {
	font-family: 'DFPLiJinHeiW8';
	src: url('fonts/hkljhw8.eot');
	src: url('fonts/hkljhw8.eot') format('embedded-opentype'),
		url('fonts/hkljhw8.woff') format('woff'),
		url('fonts/hkljhw8.ttf') format('truetype'),
		url('fonts/hkljhw8.svg#DFPLiJinHeiW8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Bold-Alphabetic';
  src:  url('fonts/SourceHanSansCN-Bold-Alphabetic.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABFEAA8AAAAAGRgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAQzAAAABoA
AAAca3WiME9TLzIAAAHMAAAAQwAAAFZUl1+YY21hcAAAAogAAAA3AAABOgANA5ZjdnQgAAACwAAA
AAQAAAAEACECeWdhc3AAABDEAAAACAAAAAj//wADZ2x5ZgAAAzQAAAuxAAAO+LYoVGtoZWFkAAAB
WAAAADIAAAA2BRJ2MmhoZWEAAAGMAAAAHgAAACQHcwL5aG10eAAAAhAAAAB2AAAAdh0ZEqFsb2Nh
AAACxAAAAHAAAABwYKpkDG1heHAAAAGsAAAAHwAAACAAfABxbmFtZQAADugAAADwAAAByykOhnBw
b3N0AAAP2AAAAOoAAAOce++IQXZoZWEAABDoAAAAIgAAACQEjBKvdm10eAAAEQwAAAA2AAAAdlRv
R3N42mNgZGBgAOKVsWXb4vltvjJoM78AijBc+CbZDKe5/vMw32G2BqrjYGACiQIAX2kL6wAAeNpj
YGRgYLb+z8MQxfyCAQiY7zAwMqACFgBYIwN0AAB42mNgZGBgMGdwYGBmAAEmIGZkAIk5MOiBBAAP
cQDuAHjaY2Bk/MK0h4GVgYGpi2k3AwNDD4RmvM9gyMgEFGXgYGbACgLSXFMYFP7/Z2BgVvhvwRDF
MPOfBFCYESQHACioDNoAAWwAIQAAAAABTQAAA+gAigDeAMQAzAEFARQApAC2AOEA2ADZARgAgAC8
AIUA5gCEAOQAxQCxALoAmAAKAKkArQDQAOoA5gDuAMYA2AEDANUA6wEKANIA/QDrADMA6wDLAOcA
xwEsAOEA3ADmAMcAMQDSAMcBAgAAeNpjYGBgZoBgGQZGBhAwAfIYwXwWBgkgzQSEQPD/PxiD1TCy
MUAVA2kmsBpUwMgw7AEA7tMEowAAIQJ5AAAAKgAqACoATgCAAKIAvgDWAOwBFAEsAUIBWgF2AYYB
tAHUAfgCFgJMAnACrgLAAtoC9gMqA1QDcAOGA7YD5AQIBDQEYASCBNoE+gUYBUAFWAV0BaAFwAXg
BgoGNgZSBoIGogbABtoHDgc8B2YHfHjaZVcJVFNnFn73vSyE/RGSGPaQITFAMeRlEWSPCAJREEFQ
EAgoyqoVUCBuUxS0ilTAfWnRtmpPdUDaabV1eubU3bHqqbWdOu3Q05aqbU89pVPbIY+57wWX09Fj
DOG/3//de7/73ReCJFQEAZHkPoIixETMIBDTEobEAuIHw6BIeDdhiCLxLTFIcR8LuY+HxCIYTxgC
7nOGVtFahlarQPLdxYvkPudSFVlEECSxlSCoEnIUEX0JQqVVidXASIDRxoBWLRKT7yax3yUcBMlZ
8GanfhrkbvEWKMzvv0+OOpWgzw87Fj3nNQL/UMQX+JKEOD6EgggjCLzPIJf5i8SyEMD/1BRjMBk1
UUAzBjP/5gvw2b433pgx78junW19GbPX7SicP39BNzlaUGVaRAt8ijMa6uCvFUyUc9yYaIrFO4D4
cGKMmkn+TPgTRIRIHa4xGc2MQSHWqMNF/nLGYKFm1h947ebNY93Lcm2FyxyO5ZV5FfWXTg/fKC9P
3fJjVw6X7zXkmcrn68OxZAxyX5Fay4TRHKlr//r7J7fP5lvBrWuDlRx9h+352xpiYlMzASDEOC+M
88Aq0SrZ478ghP+yu0HGPoAWcrT9pOOCg6sHAHKkpHhe8sx5Gvxhgu0DJTuKZz90sB/zZ4mjmJcF
81L+f14yPjGT2qSiLEuOnvr8i2N7a/Jti5e/uKU9W3cY1LbiS6eHbpUvTn6xubUzqKeVx3sb7za4
uGKG2HlsPL6+3QuFvb3sCXKU/Qy02MAU9gP+/Aied588b8KzJpVMTTOykcuXSd21a+3wk8PB+ra7
uH46MUZ+hGc9kSv2NVxrQYImmiE/2tD6+oKlhnmtfT81dHfY8rrgAXf+M8Sud53nuDCcutSUWPZZ
HwWRx9hxmPbqV63I6DTY2H+yyVDQeZ2v3xSM88Y4IVc/zEEGU/rAjrrrd/A8NuDvq/H3gTyuNAQU
TBJYpFymRotaTKkprVouozcc2eumkQjFWvfeo51+wsyugq0ZAhrvG5CVK+nKAFiMdTAteHmIvQyW
od3l7FXEfg+xoxGbdmErGI2JK6EL8b1djyqFftt2/2oXcjiOE9scoEGQzmPnU9k7BKexTdhPO/ZT
QkiRKlclja85TC70l/PiDxdR9vPHj1y7AlmXnWdaPmxpvtAMq4c/uglVV64Ort62bXVLZyeH8y3y
iOU1xDNRheEkRYESJmfpW5BA2snu9hVvly6uJUfvt65lfwPHxhQTF9sxYaG6kYOMcw2hguOAM43K
CuPHMgRBIng2LpFRzwdNL3C8Ed01cAUyr+5aH9iYFM0O2Vta7JVNTdZ65bKFiisHB69eHdx1KXCq
7lyPo7mrq3ntDoLP92vkmcf3GFWvUlNqTm4cWTHIeK5qKu/1oa5t4AuWIht7f81Q0UKYwn5Hjo7k
1isg5ZvWGbFcT89j3SKQc+QTbXE0kWQMNQ148k/HIkQQCnIqYqDznfUFMY74pHxfWXRoSE1m9aH2
Iw1zSpZbsiUBfjF+QctP3ixf21CtmabT0kF+Mg/3COXSnNJWe8VMncZLJvWkxZI/zcC7BzEHC+8L
qDfXBMDxR+Tm38i69nZnH6+5M/ycjhJe+AND+6rCsBW0P2ZIHuljz7Hne944iYpYyr4OxbCPLb52
DWP2IG6uS/8qYKTySZkCHGDHDzRnkUJvvXfTLva/GNh/T6Q7qINapxLj3DHuLsYFY+epp3G80M34
BgWu4RyaeuuNPZmyQIGHTlyx1u4+VSKSqLK3v3qm3CtAKKPLEHZ/w7rnBoJhCbsn8oDaNAzLUKyN
sWtrrexLeM/xSd+W4z1SigkFxpwMDCVV8xvAG3zg+MORowvTBHqfwgMjD49VUIyPwCfGrRTaoe7A
qoXKA+xOtvOosDgwINfnqMsj3kTMBFedVDTFKJA8D0rDCefBkmiVIM170b4JkMLHwxXWzSHDbDT7
Axd3A+NULs9kTKDCJoBKdgO2sLtIDbsa+otJaXuR8wcHp7n76EO/k8nIO4QgLEazJQbU4WItKgRn
VI2VQcFb/Dnv9Ib7Q1eo5MSMWvPGP6/euMZDuLQ6f9n2RRm2jtq9ZZVeMca4CtvaNvYd69ySgpSk
Wjd+fr7FXquoUNyKgZMzrFWLOVcUc1eAnJkcHjGl6ltRkyH0XtUnXFixcgNbHJeeNH+WNSMFwrcN
zIqnQq8WW/ezvz5XUphbGO+qz4+I7UEm4WwS0j9aPT+pP57t3JibnpiRW1kxJ2duQkVH119Aufmw
rURfZpuzOL5s/iF+7i4gDjzm+Mzm0HImro1wrQ4OmmyzNjV276+uyBL1tXixX+YlzWGmZybMj0s/
tKnjSGLRhfGRuH/nF8/4ObKEw0WPp/yRn5QImGSIniFWccPo4mdR8b7x6enWDT1itkJcPSc/V1+x
eetwP6jSrXGFoOx4pb9FGmvNiCpNPvRBfFoq7+kU9tdMRXEuAVzKwcDIOK9Qmyw8ccocYk5run59
5+7dbe3zKc86ea2yiU2Dcw2iKUvbXc8Ztyc80ZuTCQ0RSyQThMKIGZpcL1zqCMj5G3YL6zkDDK4f
NPDY6tDp/OWPn0Hw0O3iuFnZO6rjpn7TrnphuVEXsmTNihXD/W09QD+XmBQdk5hYU2TLKjNaSiyh
sRUz9cLQ5Di90LRocb1XnZopsXvLA/TW2QtWZsFbcfppcdPL49jj6ql6dbBMHMz3GpcgJcQe+fG7
xKUeGbekOO3QD3aKKhpL7L3m2MxZVOjlmnnPN7JHIDvVmMyu570V0AfILmoG7kGfSWeiqXAN3xN/
Edz7Elbl60wmXaTRCOeanNfJbn1ObGyOntfHrYkA8kWM9SZwm0ox0n9yX5tNtOUJyDisY4vzopPi
Upj0Z6C++l1TE5SYBoM3JhGBcGIuRszl8S63MGL0CbHMuUPwYODuzwPHS6lQNnjsa3b4+7LtXO6o
IzGe95m8/Ym+TfQDSDJF6ZjwypSqGvJEs/OUcZp/fcjqGriNcQzecwb1F8Tfg+aBjcV/fNm4qj2u
HrPGXWhf1h5bW3X2pao0a5+eSbWSBlux3T7CVbEZiwjZyebJWrp64Ya4fk9xn+1Fs6dgWZ3dvs/I
pGaRhpyipnoO5Uk8SVzFfIIxnt/HAn7aOIEJDGZuqfuTDWOnTo2dYnduzcnZmuP58qbNhw9v3qQt
PVRa6prX0Qkd+lsSzivOleIJA16uChktcwlTHT66xl1QVtW0tn9leYbQPDtlXtesO5QkIXNvx7ZX
4vOGycqHMYsWvObidBExgcdEDxCaLE9dANuDD5xPPaBBlFndtHVfjT1X5LWSLbWlzDUyufH5d04X
pezv2jSQHjf+KzwsKIr7BU0AIBprRSMurzqG2z6TPiWmIbrVQ6Bry7DqI8wxG7BU66wZcodfD3uL
e5bkPAnjQgkimXdJo0b7zAMtmpzC9Y0gXDNiXV47Y0ZO/j+2NK9vtBbPrc/Jrq7fsS6rd3ZJOhqM
fHpd9uKsYrNZqZYG5qTlVE7jengX8X3JK/x3AHwsxrUiw5l/6p3QsHOvtO3Ro/g0/aygqnnfj95p
EO3Z03THmiivDcF49HVynDRwHXQ5Js2vcAv3gKclm0qaS8t7l2al9K72yi9rqYVS9q3mWdDmvJ6P
sRf5/WTgvwO4djK/iWHg8367z1QhHVHZfZs0sKPR66Y/D0rndY4vPthQwxjzdI+bH69xfqFTai23
x33g8xM7c2i5KMjX9kKeKMxNKFaIs7a88ma62l0ojEhD2Hu2wkYDfne4p2gICawLAoXz+ti6qVO6
x3ht38J7ZHiP0rXHFa4L/rDKb11895DVTecudAt3S9h79tKhLE+9WCjRSFIhAryqvFNp31TfSvYr
9vtqabqHr9W3mse+OBHG561AhXnDpIckA/VMGmRqzKqyqKhg/4CSMI//9Nd4RgqEEpWkZDtds8Rz
hVtBOKllfw9u9gyoCQARtwtIFO8YYnLfj57seiAhkv0FLrGfgGkuNDbNZXtW/Q8douLeAAAAeNql
jrFOw0AQRJ8JjkAUdJRwP3CW7YgmBVISEaVKYym945jEknUX2c4v8V98Bh1j44oCCk6627md2Z0B
bngjoD9X3GNGPGHO+4hD7vgc8ZSn4FVscH0r/eOg7PGEjnjEIQ98jHjKSxCyxFNzwLJQPXMiZ0+p
mYoClr4+2EV9PuX7sqvUWEvvxPa14SilISWSg1EuQ6b+RUwhZqNdTp3+bVmxlcvvft87ZmLT4cYk
PMvUu27tm2Np0ig2c5P5S1OUm9xluWtXW/sjpRQzm9o0TjS70/JG9tUQ3GhhH5Zd2bSVdyaJ9Plf
aP6IwxdY31LueNptzzdOxFAYRWEfk9OQc855sP2SZwnsAwoaqmmoWTgguoN4kosj65e+W9XV7/v6
rLrqv1d+PqqamgkmmWKaGWaZY54FFlliwDIrrLLGOhtsssU2O+yyxz4HHHLEMSeccsY5F1xyxTU3
3HLHPQ88MuSJhpaOQCQNnl9e38dv449hGjVddP75m53F2TtHytA4W2fnDE6rglXBqmBVsCpYFa2K
VkWrolXRqmhVtCpaFa2KViXfJt8m3ybfZi/KXpS9KHtR9qLsRdmqbFW2KltVrCpWFauKVcWqYlWx
qlhVrCpW9Vb17TfH//R9AAAAAAAB//8AAnjaY2BgYGQAgpOd+YYg+sI3yXoYDQBFuQawAAB42mNg
FGBgfPFPjCGK+cV/Hoa1zNYMDAyMDMiABQCLMgVPAAB42mN+wTSLAQiYX4Aw03Mg/AwmEfRzJP5n
LOL2zPJMdmCsDWIzWwOhPIiPAk8xGSEgAFUPIV4AAA==) format('woff'), url('fonts/SourceHanSansCN-Bold-Alphabetic.ttf')  format('truetype'), url('fonts/SourceHanSansCN-Bold-Alphabetic.svg#SourceHanSansCN-Bold-Alphabetic') format('svg');
  font-weight: normal;
  font-style: normal;
}
