@font-face {
  font-family: 'DFPLiJinHeiW8';
  src: url("fonts/hkljhw8.eot");
  src: url("fonts/hkljhw8.eot") format("embedded-opentype"), url("fonts/hkljhw8.woff") format("woff"), url("fonts/hkljhw8.ttf") format("truetype"), url("fonts/hkljhw8.svg#DFPLiJinHeiW8") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
  font-family: 'SourceHanSansCN-Bold-Alphabetic';
  color: #000; }
  body .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  body .clearfix {
    display: inline-table; }
  body * html .clearfix {
    height: 1%; }
  body .clearfix {
    display: block; }

.section {
  margin: 0 auto;
  line-height: 1.2; }
  .section p, .section ul, .section li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .section .fp-tableCell {
    vertical-align: initial; }
  .section .title {
    font-family: DFPLiJinHeiW8; }

.hide {
  display: none; }

.section-1 {
  position: relative; }
  .section-1 .container {
    position: relative;
    width: 640px;
    margin: 0 auto;
    margin-top: 100px; }
    .section-1 .container .title {
      font-size: 40px;
      text-align: center;
      margin-top: 20px; }
    .section-1 .container .pic {
      width: 384px;
      height: 416px;
      margin: 0 auto;
      position: relative; }
      .section-1 .container .pic .img {
        position: absolute;
        z-index: 10; }
      .section-1 .container .pic .circle-1 {
        position: absolute;
        top: 148px;
        left: -23px; }
        .section-1 .container .pic .circle-1 .pie_left {
          transform: rotate(180deg); }
      .section-1 .container .pic .circle-2 {
        position: absolute;
        top: 18px;
        left: 102px; }
        .section-1 .container .pic .circle-2 .pie_left {
          transform: rotate(180deg); }
        .section-1 .container .pic .circle-2 .pie_right {
          transform: rotate(162deg); }
      .section-1 .container .pic .circle-3 {
        position: absolute;
        top: 32px;
        left: 190px; }
        .section-1 .container .pic .circle-3 .pie_left {
          transform: rotate(180deg); }
        .section-1 .container .pic .circle-3 .pie_right {
          transform: rotate(108deg); }
      .section-1 .container .pic .description {
        position: absolute; }
        .section-1 .container .pic .description .percentage {
          font-size: 30px; }
        .section-1 .container .pic .description .content {
          font-size: 8px; }
      .section-1 .container .pic .d1 {
        top: 20px;
        left: 53px; }
      .section-1 .container .pic .d2 {
        top: 108px;
        left: -11px; }
      .section-1 .container .pic .d3 {
        top: 46px;
        left: 282px; }
  .section-1 .footer {
    background-image: url(../../img/xiao/page1_footer.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: absolute;
    bottom: 0; }

.section-2 .container {
  width: 640px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0px 0px 0px 50px; }
.section-2 .up {
  display: inline-block; }
  .section-2 .up .title {
    font-size: 100px;
    color: #333333;
    float: left; }
  .section-2 .up .descp {
    font-size: 30px;
    color: #999999;
    float: left;
    margin-top: 15px;
    font-weight: bold; }
.section-2 .content {
  clear: both;
  height: 373px;
  margin-top: 92px;
  background-image: url(../../img/xiao/page2_pic.jpg);
  background-repeat: no-repeat;
  position: relative; }
  .section-2 .content .content-title p:nth-child(1) {
    font-size: 28px;
    color: #666666;
    font-weight: bold; }
  .section-2 .content .content-title p:nth-child(2) {
    color: #999999;
    font-size: 20px; }
  .section-2 .content .content-title-1 {
    position: absolute;
    top: 196px;
    left: 190px; }
  .section-2 .content .content-title-2 {
    position: absolute;
    top: 266px;
    left: 190px; }
  .section-2 .content .content-title-3 {
    position: absolute;
    top: 340px;
    left: 190px; }
.section-2 .relationship {
  margin-top: 36px; }
  .section-2 .relationship .progressbar {
    margin-top: 18px;
    margin-lefy: -15px; }
  .section-2 .relationship .progressbar span:nth-child(1) {
    color: #ffd178;
    display: block;
    font-size: 20px;
    line-height: 12px;
    float: left; }
  .section-2 .relationship .progressbar span:nth-child(2) {
    background-color: #ffd178;
    width: 110px;
    height: 12px;
    display: block;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 12px;
    float: left; }
  .section-2 .relationship .progressbar span:nth-child(3) {
    background-color: #ffa669;
    display: block;
    width: 140px;
    height: 12px;
    float: left; }
  .section-2 .relationship .progressbar span:nth-child(4) {
    background-color: #ff7746;
    display: block;
    width: 140px;
    height: 12px;
    float: left; }
  .section-2 .relationship .progressbar span:nth-child(5) {
    background-color: #d92722;
    display: block;
    width: 110px;
    height: 12px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    float: left; }
  .section-2 .relationship .progressbar span:nth-child(6) {
    color: #d92722;
    display: block;
    font-size: 20px;
    line-height: 12px;
    margin-left: 10px;
    float: left; }
.section-2 .relationship > p {
  font-size: 20px;
  color: #666666; }
  .section-2 .relationship > p span {
    color: #999999; }
.section-2 .bar-description-container {
  clear: both;
  display: inline-block;
  margin-left: -15px; }
  .section-2 .bar-description-container .bar-desc {
    float: left; }
    .section-2 .bar-description-container .bar-desc .trangle {
      border: 16px solid;
      border-color: transparent transparent #4b4b4b transparent;
      height: 0px;
      width: 0px;
      margin: 0 auto;
      margin-top: -16px; }
    .section-2 .bar-description-container .bar-desc .rect {
      width: 80px;
      height: 29px;
      background-color: #4b4b4b;
      font-size: 18px;
      color: white;
      text-align: center;
      line-height: 30px;
      margin: 0 auto; }
    .section-2 .bar-description-container .bar-desc > p {
      font-size: 18px;
      color: #999999;
      margin-top: 7px; }
  .section-2 .bar-description-container .bar-desc-1 {
    margin-left: 24px; }
  .section-2 .bar-description-container .bar-desc-2 {
    margin-left: 20px; }
  .section-2 .bar-description-container .bar-desc-3 {
    margin-left: 45px; }
  .section-2 .bar-description-container .bar-desc-4 {
    margin-left: 42px; }
.section-2 .ps {
  clear: both;
  margin-top: 27px;
  background-color: #d5d5d5;
  font-size: 20px;
  color: white;
  width: 536px;
  line-height: 30px; }
  .section-2 .ps p {
    margin-left: 10px; }

.section-5 .container {
  position: relative;
  box-sizing: border-box;
  width: 640px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0px 67px; }
  .section-5 .container .up {
    text-align: left;
    margin-left: -17px; }
    .section-5 .container .up .title {
      font-size: 100px;
      line-height: 1.5; }
    .section-5 .container .up .descp {
      font-size: 28px;
      color: #999;
      font-weight: bold; }
  .section-5 .container .middle {
    background-image: url(../../img/xiao/sec5-middle.jpg);
    background-repeat: no-repeat;
    background-position: -20px center;
    width: 573px;
    height: 334px;
    margin: 0 auto;
    position: relative; }
    .section-5 .container .middle .descp {
      text-align: center;
      color: white;
      font-size: 26px;
      line-height: 1.2;
      position: absolute;
      top: 35px;
      right: 20px; }
  .section-5 .container .bottom {
    width: 464px;
    height: 245px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative; }
    .section-5 .container .bottom.bottom-1 {
      background-image: url(../../img/xiao/sec5-bottom-3.jpg);
      background-repeat: no-repeat;
      background-position: center bottom;
      text-align: center; }
      .section-5 .container .bottom.bottom-1 ul {
        width: 328px;
        display: inline-block;
        padding-right: 20px; }
        .section-5 .container .bottom.bottom-1 ul li {
          float: left;
          width: 82px;
          text-align: center; }
          .section-5 .container .bottom.bottom-1 ul li p:nth-child(1) {
            font-size: 18px;
            color: #606060;
            font-weight: bold; }
          .section-5 .container .bottom.bottom-1 ul li p:nth-child(2) {
            font-size: 16px;
            color: #999; }
    .section-5 .container .bottom.bottom-2 .subtitle {
      font-size: 26px;
      color: #666;
      font-weight: bold; }
    .section-5 .container .bottom.bottom-2 .subdescp {
      font-size: 18px;
      color: #999;
      line-height: 1.5; }
    .section-5 .container .bottom.bottom-2 .bottom-content-1 span {
      display: block;
      width: 74px;
      height: 74px;
      background-image: url(../../img/xiao/sec5-bottom-2.jpg);
      float: left; }
    .section-5 .container .bottom.bottom-2 .bottom-content-1 .subtitle {
      padding-top: 11px; }
    .section-5 .container .bottom.bottom-2 .bottom-content-2 {
      margin: 10px 0 20px; }
      .section-5 .container .bottom.bottom-2 .bottom-content-2 span {
        display: block;
        width: 86px;
        height: 61px;
        background-image: url(../../img/xiao/sec5-bottom-1.jpg);
        float: right; }
      .section-5 .container .bottom.bottom-2 .bottom-content-2 .subtitle {
        padding-top: 5px; }

.section-6 .container {
  width: 600px;
  margin: 0 auto;
  margin-top: 80px; }
  .section-6 .container .up {
    position: relative;
    margin-top: 240px;
    color: #4e4e4e; }
    .section-6 .container .up .circle {
      width: 310px;
      height: 310px;
      border-radius: 310px;
      border: 2px solid #a8a8a8;
      margin: 0 auto;
      font-size: 60px;
      color: #333;
      text-align: center;
      line-height: 310px; }
    .section-6 .container .up .pan {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-image: url(../../img/xiao/sec6-up-1.png);
      background-repeat: no-repeat;
      background-color: #a8a8a8;
      position: absolute;
      left: 50%;
      top: 0; }
      .section-6 .container .up .pan.pan-1 {
        background-position: 0 0;
        margin-top: -50px;
        margin-left: -50px; }
      .section-6 .container .up .pan.pan-2 {
        background-position: -100px 0;
        top: 100px;
        margin-top: -40px;
        margin-left: -195px; }
      .section-6 .container .up .pan.pan-3 {
        background-position: -200px 0;
        top: 100px;
        margin-top: -40px;
        margin-left: 95px; }
      .section-6 .container .up .pan.pan-4 {
        background-position: -300px 0;
        top: 300px;
        margin-top: -78px;
        margin-left: -147px; }
      .section-6 .container .up .pan.pan-5 {
        background-position: -400px 0;
        top: 300px;
        margin-top: -78px;
        margin-left: 47px; }
    .section-6 .container .up .descp {
      position: absolute;
      font-size: 13px;
      text-align: center;
      left: 50%;
      top: 50%;
      opacity: 0; }
      .section-6 .container .up .descp span {
        font-size: 15px;
        line-height: 1.5;
        font-weight: bold; }
      .section-6 .container .up .descp.descp-1 {
        width: 79px;
        margin-top: -265px;
        margin-left: -36px; }
      .section-6 .container .up .descp.descp-2 {
        width: 53px;
        margin-top: -8px;
        margin-left: -225px; }
      .section-6 .container .up .descp.descp-3 {
        width: 80px;
        margin-top: -8px;
        margin-left: 174px; }
      .section-6 .container .up .descp.descp-4 {
        width: 70px;
        margin-top: 95px;
        margin-left: -214px;
        text-align: left; }
        .section-6 .container .up .descp.descp-4 span {
          padding-left: 10px; }
      .section-6 .container .up .descp.descp-5 {
        width: 60px;
        margin-top: 95px;
        margin-left: 155px; }
  .section-6 .container .below {
    margin-top: 80px;
    display: inline-block; }
    .section-6 .container .below ul {
      margin: 0 auto;
      width: 600px; }
      .section-6 .container .below ul li {
        width: 33%;
        float: left;
        text-align: center; }
        .section-6 .container .below ul li .subtitle {
          font-size: 36px;
          margin-bottom: 20px;
          font-weight: bold; }
        .section-6 .container .below ul li .descp {
          font-size: 12px;
          display: block;
          margin: 0 auto;
          margin-top: 20px;
          text-align: left;
          max-width: 75%;
          padding-left: 25px; }

.section-7 .container {
  width: 640px;
  margin: 0 auto;
  margin-top: 100px; }
.section-7 .title {
  margin-top: 25%;
  font-size: 40px;
  text-align: center; }
.section-7 ul {
  width: 480px;
  height: 320px;
  margin: 0 auto;
  margin-top: 90px; }
  .section-7 ul li {
    float: left;
    width: 160px;
    height: 160px; }
    .section-7 ul li .round {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin: 0 auto;
      margin-top: 20px;
      background-image: url("../../img/xiao/share-icon.png?123");
      background-repeat: no-repeat; }
    .section-7 ul li.share-1 .round {
      background-color: #4ab81e;
      background-position: 0px -2px; }
    .section-7 ul li.share-2 .round {
      background-color: #078bbc;
      background-position: -117px -2px; }
    .section-7 ul li.share-3 .round {
      background-color: #e81010;
      background-position: -240px -2px; }
    .section-7 ul li.share-4 .round {
      background-color: #1c9e0e;
      background-position: 0px -120px; }
    .section-7 ul li.share-5 .round {
      background-color: #0073af;
      background-position: -117px -120px; }
    .section-7 ul li.share-6 .round {
      background-color: #10c7e8;
      background-position: -240px -120px; }
